[submodule "libs/DiamondBank-OG"]
	path = libs/DiamondBank-OG
	url = https://github.com/NotAlexNoyle/DiamondBank-OG
[submodule "libs/GxUI"]
	path = libs/GxUI
	url = https://github.com/NotAlexNoyle/GxUI
[submodule "libs/Utilities-OG"]
	path = libs/Utilities-OG
	url = https://github.com/NotAlexNoyle/Utilities-OG
